<div class="container">
    <div class="row mt-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Profile</h6>
                        </div>
                        <div class="card-body">
                            <form (ngSubmit)="editAvatar()">
                                <div class="position-relative d-flex justify-content-center align-items-center"
                                    data-bs-toggle="modal" data-bs-target="#avatar">

                                    <img [src]="avatarUrl" name="photo" alt="Avatar" height="100" width="100"
                                        class="rounded-circle" (click)="editAvatar()" (change)="getmyfile($event)">
                                    <i class="bi bi-pencil-square text-dark"></i>
                                </div>




                                <label class="mt-3">Username</label>
                                <div class="input-group">
                                    <input type="text" name="name" class="form-control">
                                    <button class="input-group-text text-light bg-dark">Update</button>
                                </div>

                                <label>Mobile Number</label>
                                <input type="number" class="form-control" readonly>

                            </form>

                            <div class="card mt-3">
                                <div class="card-header text-center">
                                    <h6>Statistics</h6>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">

                                        <thead class="table-light">
                                            <tr>
                                                <td>Games Played</td>
                                                <td>Earnings</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>0</th>
                                                <th>0</th>
                                            </tr>
                                        </tbody>


                                        <thead class="table-light">
                                            <tr>
                                                <td>Referral Earning</td>
                                                <td>Penalty</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>0</th>
                                                <th>0</th>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                            <button (click)="logout()" class="btn btn-danger w-100 mt-3 mb-5">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <!-- Modal -->
        <div class="modal fade" id="avatar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Avatar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="avtar-container" class="modal-body  d-flex justify-content-center flex-wrap gap-2 m-2">

                        <img *ngFor="let avatar of avatars" [src]="avatar" alt="Avatar" height="60px" width="60px"
                            class="avatar-img" (click)="setAvatar(avatar)" data-bs-dismiss="modal">
                    </div>
                    <!-- <div class="d-flex mx-auto mb-3">
            <button class="btn btn-primary">Update Avatar</button>
        </div> -->
                </div>
            </div>
        </div>